.nav1{
  background-color: rgb(24, 31, 31);
}

.container {
    color: rgb(255, 255, 255); /* Change the text color for the container class */
    
  }
  
  .navbar-brand {
    color: rgb(255, 255, 255); /* Change the text color for the navbar-brand class */
  }
  
  .nav-link {
    color: rgb(255, 255, 255); /* Change the text color for the nav-link class */
  }
  
  .dropdown-item {
    color: rgb(255, 255, 255); /* Change the text color for the dropdown-item class */
  }

  .c-item{
    height: 480px;
}
.c-img{
width:100%;
height:1300px;
}
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  flex-grow: 1;
}

.search-bar form {
  display: flex;
  flex-grow: 1; /* Added to make the search input expand to fill available space */
}

.search-bar input[type="search"] {
  flex-grow: 1; /* Added to make the search input expand to fill available space */
  width: 100%; /* Set to 100% to fill the available width */
  background-color: #ffffff; /* Set the background color */
  color: rgb(75, 74, 74); /* Set the text color */
  border-color: #000000; /* Set the border color */
  padding: 8px 16px; /* Adjust the padding as needed */
  border-radius: 4px; /* Add rounded corners */
  transition: background-color 0.3s ease; 
}
.search-bar input[type="submit"] {
  color:rgb(255, 252, 103);
  border-color: #f8f05c; /* Set the border color on hover */
}
.search-bar input[type="submit"]:hover {
  background-color: #ff0000; /* Set the background color on hover */
  border-color: #525252; /* Set the border color on hover */
}

.sidebar {
  padding:7px 8px;
  margin-left:4px;
  border-radius: 4px;
}

.h5{
  color:rgb(24, 31, 31);
  background-color: #000000;
  
}